# Python junk
__pycache__/
*.py[cod]
*$py.class
venv_emulator/

# Project Logs
services/logs/
*.log
services/logs/*.csv
services/data/logs/*.csv

# System files
.DS_Store

# Virtual Environments
venv_emulator/
env/
.venv/